html 
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(images/bg-mobile.png);
}

h1
{
    font-family: 'Raleway';
    font-size: .9em;
    font-weight: 300;
    margin-top: 0;
    margin-bottom: 1.25em;
    color: hsl(243, 100%, 93%);
}

span
{
    font-weight: 700;
}

button
{
    box-sizing: border-box;
    background-color: hsl(229, 57%, 11%);
    height: 3.75em;
    width: 3.75em;
    margin-right: .75em;
    border: none;
    border-radius: .75em;
    vertical-align: bottom; 
}

p
{
    display: flex;
    position: absolute;
    align-items: center;
    font-family: 'Raleway';
    background-color: #fff;
    left: 23.5%;
    top: 76.5%;
    margin: 0 auto;
    padding: .75em 1.5em;
    border-radius: .75em;
}

.card1
{
    background-color: hsl(228, 56%, 26%);
    width: 12em;
    padding: 2.5em;
    padding-right: 6em;
    border-radius: .75em;
    border-top-right-radius: 6.5em;
    margin-bottom: 1em;
}

.card2
{
    background-color: hsl(228, 56%, 26%);
    width: 16.5em;
    padding: 2em;
    text-align: center;
    border-radius: .75em;
    position: relative;
}

.bar 
{   
    background-color: hsl(229, 57%, 11%);
    height: 1.20em;
    width: 16.5em;
    margin: auto;
    border-radius: 1em;
    position: relative;
    
}

.progress
{
    position: absolute;
    background-image: linear-gradient(to right, hsl(6, 100%, 80%), hsl(335, 100%, 65%));
    width: 81.5%;
    height: .72em;
    border: .24em solid hsl(229, 57%, 11%);
    border-radius: 1em; 
    position: relative;
}

.dot
{
    position: absolute;
    width: .51em;
    height: .51em;
    border-radius: 50%;
    border: .12em solid hsl(335, 100%, 65%);
    right: 0;
    background-color: #fff;
}

.GB
{
    font-family: 'Raleway';
    font-weight: 700;
    font-size: .75em;
    margin-top: .75em;
    margin-bottom: 1em;
    color: #fff;
    columns: 2;
}

.min
{
    display: flex;
    justify-content: start;
}

.max
{
    display: flex;
    justify-content: end;
}

.left
{
    font-size: 2.5em;
    color: hsl(229, 57%, 11%);
}

.right
{
    text-transform: uppercase;
    font-size: .8em;
    margin-left: 1.5ch;
    color: hsl(229, 7%, 55%) ;
}

.logo 
{
    margin-bottom: 2em;
}

.attribution 
{ 
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    font-size: 11px;
    margin-bottom: 50px; 
    text-align: center; 
}

.attribution a 
{ 
    color: hsl(228, 45%, 44%); 
}
@media (min-width: 375px) 
{
    html 
    {
        background-color: hsl(229, 57%, 11%);
        background-image: url(images/bg-desktop.png);
        background-size: 100vw 50vh;
        background-position: center bottom;
        background-repeat: no-repeat;
    }

    h1 
    {
        text-align: left;
    }

    .cards 
    {
        display: flex;
    }

    .card1
    {
        padding-right: 8em;
        margin-right: 2em;
        margin-bottom: 0;
        
    }
    
    .card2
    {
        max-height: 6rem;
        margin-top: 3rem;
        width: 35rem;
    }

    .bar
    {
        width: 35rem;
    }

}